.modal-container {
    padding: 10px 20px;
}
.modal-body {
    min-width: 500px;
}
.date {
    float: right;
    font-size: 1em;
    color: #0062cc;
    opacity: .8;
    pointer-events: none;
    transition-duration: .5s;
}
.saved-list li {
    cursor: pointer;
}

.saved-list li:hover {
    background-color: #007bff;
    color: white;
}

.saved-list li:hover .date {
    color: white;
    margin-right: 15px;
}
.saved-list li:hover .delete {
    right: 10px;
    opacity: 1;
    transition-duration: .5s;
}
.delete {
    float: right;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    transition-duration: .3s;
}
.delete img {
    width: 20px;
}
