.date {
    float: right;
    font-size: 1em;
    color: #0062cc;
    opacity: .8;
    pointer-events: none;
    transition-duration: .5s;
}

.list-container {
    min-height: 315px;
}

.modal-container {
    padding: 10px;
}
