.not-active {
  background: rgba(111, 108, 108, 0.15);
  opacity: .5;
}
.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.checkbox-container {
  position: absolute;
  display: inline-block;
  margin-right: 10px;
  padding: 15px 0 0 15px;
  top: 0;
  left: 0;
  width: 30px;
  height: 50px;
}

.item-list li {
  position: relative;
  padding-left: 45px;
}

li {
  font-size: 18px;
}
